table{
    width: 100%;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    /*border-spacing: 3px;*/
    padding: 5px;
}

caption{
    color: #e63946;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    line-height: 70px;
}

td{
    text-align: center;
}

th{
    color: #f1faee;
    background-color: #1d3557;
    text-align: center;
}

/*Renglones pares "even" - impares "odd"*/
tr :nth-child(even){
    background-color: #f1faee;
}